/* Override button behaviour on a sitewide level to fit site colour scheme */
.btn-primary {
    background-color: #7584F2 !important;
    border-color: #ede480 !important;
    color: #ede480 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #7d75ef !important;
    border-color: #FDBA12 !important;
}

.editor-field input.text-box:focus {
    border-color: #4253CE;
    background: #ede480;
}

a:link {
    color: #7d75ef !important;
}

a:visited {
    color: #7d75ef !important;
}

a:hover {
    color: #6343cc !important;
}

a:focus {
    color: #6343cc !important;
}

a:active {
    color: #6343cc !important;
}

.error {
    color: red;
}
